.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.title,
.fa-pen {
  margin-top: 1.5rem;
}

.submit {
  display: flex;
  justify-content: right;
}

.nav,
.entries-nav {
  display: flex;
  align-items: center;
}

.entries-nav {
  justify-content: space-between;
}

#no-entries {
  display: flex;
  justify-content: center;
}

.entries-head {
  display: flex;
  justify-content: space-between;
}

h3 {
  margin-left: 1.5rem;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .title,
  .fa-pen {
    margin-top: 0;
  }
}
