body {
  background-color: rgb(241, 241, 241);
}

header {
  background-color: rgb(85, 42, 126);
  color: white;
}

h1,
label {
  font-family: "Proza Libre", sans-serif;
  font-weight: bold;
}

h2,
p,
#submit {
  font-family: "Proza Libre", sans-serif;
  font-weight: 400;
}

label {
  margin-bottom: 1rem;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#title,
#url {
  padding: 10px;
}

#notes {
  margin-top: 1rem;
}

.user-text {
  outline: none;
  border-radius: 4px;
}

.user-text:focus {
  border: 2px solid rgb(85, 42, 126);
}

#submit {
  background-color: rgb(101, 52, 148);
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  margin-bottom: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 2rem;
}
